@charset "UTF-8";
/* Midias Queries feito com css */

@media screen and (min-width: 600px) {
  i#burguer {
    display: none;
  }
  menu {
    display: block !important;
  }
  menu > ul {
    display: flex;
    justify-content: center;
  }
  menu > ul > li > a {
    border-top: none;
    border-right: 1px solid white;
    border-left: 1px solid white;
    width: 100px;
  }
  main {
    width: 60vw;
  }
}
